html, body {
  /* Give the body and html elements a height of 100%, remove any default margin and padding around them */
  height: 100%;
  margin: 0;
  padding: 0;
}


div#wrapper {
  /* Make the wrapper at least 80% of viewport height. It still stretches as the content grows */
  min-height: 80%;
  /* Increase padding-bottom to give the content more distance from the top of the footer */
  padding-bottom: 10px;
}

footer.footer {
  /* overflow auto helps footer stay at the bottom of the page no matter the size of its content */
  overflow: auto;
  background: #F8F8F8;
  /* Make the footer at least 20% of viewport height. It still stretches as the content grows */
  min-height: 20%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

footer.footer .footer-bottom {
  position: absolute;
  bottom: 0;
}

footer.footer a {
  text-decoration: none;
}
